
.pagination-list {
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 10px;
}
.pagination__number,
.active__paginate {
    width: 10%;
    border-radius: 10px;
    text-align: center;
    display: none;

}
.active__paginate {
    background: var(--btn-color);
}

@media screen and (max-width: 600px) {
    .pagination__number {
        display: none;
    }
}