.blog {
    margin: 100px 0 100px;
}
.blog__form {
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 30px;
}
.blog__form-wrap {
    position: relative;
    margin-bottom: 15px;
    height: 70px;
}
.blog__posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog__post {
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;

}
.blog__post-desc {
    width: 70%;
}
.blog__post-subtitle {
    color: var(--desc-text-color)
}

.blog__icon {
    width: 10%;
    font-size: var(--h1-font-size);
    text-align: right;
}