/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {

  /*========== Colors ==========*/
  --main-text-color:#fff;
  --desc-text-color: rgba(255, 255, 255, 0.50);
  --body-color: linear-gradient(113deg, #984D38 -30.3%, #181E41 58.12%);
  --btn-color: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
  --btn-color-gray: rgba(255, 255, 255, 0.10);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Font sizes ==========*/
  --h1-font-size: 50px;
  --h2-font-size: 40px;
  --h3-font-size: 30px;
  --normal-font-size: 20px;
  --small-font-size: 15px;
}

 /* Responsive typography */
 /* @media screen and (max-width: 992px) {
  :root {
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-style: normal;
}
body {
  background: var(--body-color) no-repeat;
  color: var(--main-text-color);
}
h1,
h2,
h3 {
  font-weight: var(--font-bold);
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: var(--btn-color);
  padding: 10px 20px;
  /* outline: none; */
}

.section {
  padding: 100px 0;
}

.section__title {
  color: var(--main-text-color);
}
.section__subtitle {
  font-size: var(--normal-font-size);
  margin: 10px auto 30px;
  color: var(--desc-text-color);
  max-width: 423px;
}
.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.section__title {

  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);

}

/* header */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header__logo {
  font-size: 25px;
  font-weight: var(--font-bold);
}
.header__logo-violet {
  background: var(--btn-color, linear-gradient(214deg, var(--btn-color)));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__input{
  width: 31%;
  background-color: var(--btn-color-gray);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;

}
.header__input input {
  background-color: transparent;
  width: 100%;
  border:none;
  margin-left: 10px;
}
.header__nav {
  width: 44%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/* main */

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.main__desc {
  max-width: 41%;
}
.main__buttons {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
}
.main__benefits {
  display: flex;
  justify-content: space-between;
}
.main__benefit-desc {
  color: var(--desc-text-color)
}
.main__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 60px;
}
.main__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--desc-text-color);
  margin-bottom: 40px;
  line-height: 36px;
}
.main__btn-gray {
  background: var(--btn-color-gray)
}

.main__images {
  display: grid;
  grid-template-columns: repeat(3, 187px);
  height: 517px;
  gap: 15px;
}

.main__image {
  width: 100%;
  border-radius:10px;
  overflow: hidden;
}
.main__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.main__images-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__images-center {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__images-right {
  height: 100%;
  display: flex;
  align-items:center
}
.main__image-skull {
  height: 140px;
}
.main__image-figures {
  height: 220px;
}
.main__image-camera {
  height: 127px;
}
.main__image-heart {
  height: 108px;
}
.main__image-middle {
  height: 220px;
}
.main__image-bunny {
  height: 159px;
}
.main__image-man {
  height: 412px;
}

/* partners */
.partners__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 150px auto;
}
.partners__logo {
  height: 60px;
}
.partners__logo img {
  height: 100%;
  width: 100%;
}

/* about */
.about__wrapper {
  display: flex;
  justify-content: space-between;

}
.about__image {
  width: 490px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
}
.about__desc {
  width: 588px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__desc-subtitle {
  margin: 10px 0 30px;
  color: var(--desc-text-color)
}
.about__btn {
  display: inline-block;
  width: 154px;
}


.collection__types {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.collection__user {
  background: var(--btn-color-gray);
  padding: 5px 50px;
  border-radius: 10px;
}
.collection__user:active {
  background: var(--btn-color);

}
.collection__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;

}
.collection__card {
  width: 389px;
  border-radius: 10px;
  background-color: var(--btn-color-gray);
  display: flex;
  flex-direction: column;
  padding: 26px;
  gap: 10px;
  justify-content: space-between;
  text-transform: capitalize;
}
.collection__image {
  width: 337px;
  height: 380px;
  overflow: hidden;
  border-radius: 10px;
}
.collection__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.collection__author {
  color: var(--desc-text-color)
}
.collection__price,
.collection__title {
  font-weight: var(--font-bold);
}
.collection__price {
  text-align: end;
}

/* footer */
footer {
  color: var(--desc-text-color);
  font-size: var(--small-font-size)
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 288px 133px 120px 264px;
  justify-content: space-between;
}
.footer__title {
  font-weight:var(--font-bold) ;
  color: var(--main-text-color);
  font-size: var(--normal-font-size)
}
.footer__desc, 
.footer__about,
.footer__company, 
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__copyright {
  font-weight:var(--font-medium) ;
  font-size: var(--normal-font-size);
  text-align: center;
  margin-top: 100px;
}
